[Unit]
Description=Push webserver for Ampel
After=network.target

[Service]
ExecStart=/home/alarm/leinelab_ampel/push_webserver.py
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
