[Unit]
Description=Button listener for Ampel
After=network.target

[Service]
ExecStart=/home/alarm/leinelab_ampel/button_listener.py
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
