[Unit]
Description=Poll webserver for Ampel
After=network.target

[Service]
ExecStart=/home/alarm/leinelab_ampel/poll_webserver.py
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
